In [1]:
import pandas as pd

In [2]:
concept=pd.read_csv("CONCEPT.csv",sep="\\t",error_bad_lines=False, converters={"concept_id":str})

/Users/xaviborrat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
# List all vacabularies in concepts
concept["vocabulary_id"].unique()

array(['CDM', 'Concept Class', 'Condition Status', 'Condition Type',
       'Cost', 'Cost Type', 'Death Type', 'Device Type', 'Domain',
       'Drug Type', 'Episode', 'Korean Revenue Code', 'Meas Type',
       'Metadata', 'NDC', 'None', 'Note Type', 'OSM', 'Obs Period Type',
       'Observation Type', 'Plan', 'Plan Stop Reason', 'Procedure Type',
       'Relationship', 'RxNorm', 'SOPT', 'Sponsor', 'Type Concept',
       'UB04 Point of Origin', 'UB04 Pri Typ of Adm',
       'UB04 Pt dis status', 'UB04 Typ bill', 'UCUM', 'US Census',
       'Visit', 'Visit Type', 'Vocabulary'], dtype=object)

In [4]:
# Select only the needed vocabularies
concept=concept[(concept["vocabulary_id"]=='NDC')|(concept["vocabulary_id"]=='RxNorm')]

In [8]:
#1 step NDC TO CONCEPT_ID(NDC)

ndc=pd.read_csv('NDC codes.csv',converters={"ndc":str})

concept_ndc=ndc.merge(concept, how='left',left_on="ndc", right_on="concept_code")

concept_ndc

,drug,ndc,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,NaN,51079045620,45342162,simvastatin 40 MG Oral Tablet,Drug,NDC,11-digit NDC,NaN,51079045620,20070601.0,20991231.0,None
1,CoQ10 (300mg),14654084868,45287823,QH LIQUID 100 MG/ML DROPS,Drug,NDC,11-digit NDC,NaN,14654084868,20111025.0,20991231.0,None
2,(0.9% NaCl),00338004938,45351515,100 ML sodium chloride 9 MG/ML Injection,Drug,NDC,11-digit NDC,NaN,00338004938,20161001.0,20991231.0,None
3,*NF,51079042420,44864943,cilostazol 100 MG Oral Tablet,Drug,NDC,11-digit NDC,NaN,51079042420,20070601.0,20130901.0,D
4,*NF,00078043815,45111373,imatinib 400 MG Oral Tablet [Gleevec],Drug,NDC,11-digit NDC,NaN,00078043815,20070601.0,20991231.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
13481,zz,11845011831,45099606,Vitamin A 800 UNT / Vitamin D 400 UNT Oral Cap...,Drug,NDC,11-digit NDC,NaN,11845011831,20131001.0,20190701.0,D
13482,zz,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13483,zz,00536406801,44926249,niacinamide 100 MG Oral Tablet,Drug,NDC,11-digit NDC,NaN,00536406801,20070601.0,20991231.0,None
13484,zzVoxtalisibzz,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13485,~Rituximab,50242005121,44898925,10 ML rituximab 10 MG/ML Injection [Rituxan],Drug,NDC,11-digit NDC,NaN,50242005121,20150801.0,20991231.0,None

In [9]:
#2 step CONCEPT_ID(NDC)

concept_dic=pd.read_csv('CONCEPT_RELATIONSHIP.csv',sep="\\t",error_bad_lines=False)

/Users/xaviborrat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
concept_dic

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
0,40230194,40236637,Brand name of,20161007,20991231,NaN
1,19071624,19126704,Brand name of,20161007,20991231,NaN
2,40244424,40244217,Brand name of,20161007,20991231,NaN
3,19126666,19126668,Brand name of,20161007,20991231,NaN
4,35837938,40228826,Maps to,20210214,20991231,NaN
...,...,...,...,...,...,...
4639339,35606694,46234469,RxNorm has dose form,20160502,20991231,NaN
4639340,35606695,35606695,Mapped from,20160502,20991231,NaN
4639341,35606695,35606695,Maps to,20160502,20991231,NaN
4639342,19015942,37497829,Brand name of,20200504,20991231,NaN
4639343,40161102,40161313,Brand name of,20161007,20991231,NaN

In [11]:
# Select only relationships on mapping to. 

concept_dic=concept_dic[concept_dic['relationship_id']=="Maps to"]
concept_dic.concept_id_1=concept_dic.concept_id_1.astype(str)
concept_dic.concept_id_2=concept_dic.concept_id_2.astype(str)

concept_dic

/Users/xaviborrat/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
4,35837938,40228826,Maps to,20210214,20991231,NaN
5,35837939,19074909,Maps to,20210214,20991231,NaN
6,35837940,35604725,Maps to,20210214,20991231,NaN
7,35837941,40173384,Maps to,20210201,20991231,NaN
8,35837942,40173384,Maps to,20210201,20991231,NaN
...,...,...,...,...,...,...
4639313,35606691,35606691,Maps to,20160502,20991231,NaN
4639319,35606692,35606692,Maps to,20160502,20991231,NaN
4639324,35606693,35606693,Maps to,20160502,20991231,NaN
4639333,35606694,35606694,Maps to,20160502,20991231,NaN
4639341,35606695,35606695,Maps to,20160502,20991231,NaN

In [12]:
# 3 step. Merge tables joining on concept_id(rx_norm) to concept code rx_norm( rx_norm official code)

dic_join=concept_ndc.merge(concept_dic, how='inner',left_on="concept_id",right_on="concept_id_1")
dic_join=dic_join[['drug','ndc','concept_id_1','concept_id_2']]
dic_join

                          drug          ndc concept_id_1 concept_id_2
0                          NaN  51079045620     45342162      1539407
1            Atorvastatin 40mg  51079045620     45342162      1539407
2                  SImvastatin  51079045620     45342162      1539407
3                  Simvastatin  51079045620     45342162      1539407
4            Simvastatin 40 mg  51079045620     45342162      1539407
...                        ...          ...          ...          ...
12888                     urea  00536110945     44463802       906973
12889       uridine triacetate  69468015104     44437321     35605025
12890  vinORELBine (Navelbine)  25021020405     44947537     35605202
12891      vitamin A palmitate  61703041818     45903253     19045526
12892              zafirlukast  68084005921     44973469      1111707

[12893 rows x 4 columns]

In [13]:
#renaming for clarity


final_join=dic_join.merge(concept, how='inner',left_on="concept_id_2",right_on="concept_id")
final_join=final_join[['drug','ndc','concept_id_1','concept_id_2','concept_code']]
final_join

final_join.columns=['drug','ndc','concept_id_ndc','concept_id_rx_norm','rx_norm']
final_join

,drug,ndc,concept_id_ndc,concept_id_rx_norm,rx_norm
0,NaN,51079045620,45342162,1539407,198211
1,Atorvastatin 40mg,51079045620,45342162,1539407,198211
2,SImvastatin,51079045620,45342162,1539407,198211
3,Simvastatin,51079045620,45342162,1539407,198211
4,Simvastatin 40 mg,51079045620,45342162,1539407,198211
...,...,...,...,...,...
12888,tenofovir alafenamide fumarate,61958230101,44422058,1718509,1858267
12889,triam,00781100813,44994588,19078166,310818
12890,uridine triacetate,69468015104,44437321,35605025,1739800
12891,vitamin A palmitate,61703041818,45903253,19045526,210972
12892,zafirlukast,68084005921,44973469,1111707,199655

In [14]:
final_join.to_csv("NDC_to_RxNorm.csv")